.card {
    width: 497px;
    height: 439px;
    border-radius: 34px;
    opacity: 100%;
    background-color: rgb(13 17 23 / 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 3%;
    gap: 15px;
}

.container-button {
    margin-top: 20%;
}

.title {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}





