@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


.divButtons{
    display: flex;
    justify-content: space-between;
}

.title{
    margin-bottom: 50px;
    font-family: Orbitron, sans-serif;
}


