.bubble {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}

.bubblePink {
  background: #fc1d72;
  padding: 12px;
}

.bubble img,
.bubble svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bubblePink img,
.bubblePink svg {
  width: 40%;
  height: 40%;
  filter: brightness(0) invert(1);
}
