@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.divButtons{

    font-family: 'Orbitron', sans-serif;
    color: white;


}


/*.divButtonsContainer{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/