.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, #fc1d72, #961144);
  z-index: 0;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(90deg, #60d9fb, #961144);
  opacity: 0;
  transition: opacity 350ms ease;
  border-radius: inherit;
}

.button:hover::before {
  opacity: 1;
}

@media (max-width: 768px) {
  .button {
    padding: 12px 24px;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
  }
}
