.bubble {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}

.bubble img,
.bubble svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
